In [189]:
# Dependencies
import os
import pathlib
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

# Import the API key
from config import geoapify_key

In [128]:
# URL for GET requests to retrieve brewery data
base_url = 'https://api.openbrewerydb.org/v1/breweries?by_country=United_States'

#example of the url for the first page
#https://api.openbrewerydb.org/v1/breweries?by_country=United_States&page=1&per_page=200
#query_url = base_url + "&page="+ page + "&per_page=200"

# Define an empty list to fetch the page data for each set of data
brewery_data = []

# Loop through the pages to get all the data
for page in range(1, 156):
    query_url = base_url + "&page="+ str(page) + "&per_page=200"
    response = requests.get(query_url).json()
    brewery_data.append(response)

# Create a list of all the breweries
breweries = []
for page in brewery_data:
    for brewery in page:
        breweries.append(brewery)

# Create a dataframe from the list of breweries
breweries_df = pd.DataFrame(breweries)

breweries_df.head()

,id,name,brewery_type,address_1,address_2,address_3,city,state_province,postal_code,country,longitude,latitude,phone,website_url,state,street
0,5128df48-79fc-4f0f-8b52-d06be54d0cec,(405) Brewing Co,micro,1716 Topeka St,None,None,Norman,Oklahoma,73069-8224,United States,-97.46818222,35.25738891,4058160490,http://www.405brewing.com,Oklahoma,1716 Topeka St
1,9c5a66c8-cc13-416f-a5d9-0a769c87d318,(512) Brewing Co,micro,407 Radam Ln Ste F200,None,None,Austin,Texas,78745-1197,United States,None,None,5129211545,http://www.512brewing.com,Texas,407 Radam Ln Ste F200
2,ef970757-fe42-416f-931d-722451f1f59c,10 Barrel Brewing Co,large,1501 E St,None,None,San Diego,California,92101-6618,United States,-117.129593,32.714813,6195782311,http://10barrel.com,California,1501 E St
3,6d14b220-8926-4521-8d19-b98a2d6ec3db,10 Barrel Brewing Co,large,62970 18th St,None,None,Bend,Oregon,97701-9847,United States,-121.281706,44.08683531,5415851007,http://www.10barrel.com,Oregon,62970 18th St
4,e2e78bd8-80ff-4a61-a65c-3bfbd9d76ce2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,None,None,Bend,Oregon,97703-2465,United States,-121.3288021,44.0575649,5415851007,None,Oregon,1135 NW Galveston Ave Ste B

In [129]:
# Pretty print JSON for all launchpads

#response = requests.get(query_url).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [130]:
#create a dataframe from the json response
#breweries_df = pd.DataFrame(response)
#breweries_df.head(4)

In [131]:
#creates a summary table of the data
breweries_df.describe()

,id,name,brewery_type,address_1,address_2,address_3,city,state_province,postal_code,country,longitude,latitude,phone,website_url,state,street
count,7936,7936,7936,7153,4,0,7936,7936,7936,7936,5544,5544,7141,6787,7936,7153
unique,7936,7791,10,7064,4,0,2908,54,7695,2,5433,5433,6950,6437,54,7064
top,5128df48-79fc-4f0f-8b52-d06be54d0cec,Granite City Food & Brewery,micro,303 Main St,Estacada,NaN,Portland,California,64108,United States,-112.0773456,33.4485866,5122442739,http://www.gcfb.net,California,303 Main St
freq,1,6,4115,3,1,NaN,105,912,5,7935,6,6,5,23,912,3

In [193]:
#Prepare the breweries Database for analysis 
#drop brevery id, address_2, address_3, country, phone, website_url, and street
clean_breweries_df = breweries_df.drop(columns=['id', 'address_2', 'address_3', 'country', 'phone', 'website_url', 'street'])
clean_breweries_df.head()

,name,brewery_type,address_1,city,state_province,postal_code,longitude,latitude,state
0,(405) Brewing Co,micro,1716 Topeka St,Norman,Oklahoma,73069-8224,-97.46818222,35.25738891,Oklahoma
1,(512) Brewing Co,micro,407 Radam Ln Ste F200,Austin,Texas,78745-1197,None,None,Texas
2,10 Barrel Brewing Co,large,1501 E St,San Diego,California,92101-6618,-117.129593,32.714813,California
3,10 Barrel Brewing Co,large,62970 18th St,Bend,Oregon,97701-9847,-121.281706,44.08683531,Oregon
4,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,Bend,Oregon,97703-2465,-121.3288021,44.0575649,Oregon

In [194]:
#count missing values for each column
clean_breweries_df.isnull()
#count missing values for each column 
clean_breweries_df.isnull().sum()

# TEAM: We need to decide how to handle the missing values.  Do we drop the rows?

name                 0
brewery_type         0
address_1          783
city                 0
state_province       0
postal_code          0
longitude         2392
latitude          2392
state                0
dtype: int64

In [203]:
#create a new column in dataframe with first 5 digits of zip code - geopify doesn't look up +4
clean_breweries_df['zip_code'] = clean_breweries_df['postal_code'].str[:5]
clean_breweries_df.head()

,name,brewery_type,address_1,city,state_province,postal_code,longitude,latitude,state,zip_code
0,(405) Brewing Co,micro,1716 Topeka St,Norman,Oklahoma,73069-8224,-97.46818222,35.25738891,Oklahoma,73069
1,(512) Brewing Co,micro,407 Radam Ln Ste F200,Austin,Texas,78745-1197,None,None,Texas,78745
2,10 Barrel Brewing Co,large,1501 E St,San Diego,California,92101-6618,-117.129593,32.714813,California,92101
3,10 Barrel Brewing Co,large,62970 18th St,Bend,Oregon,97701-9847,-121.281706,44.08683531,Oregon,97701
4,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,Bend,Oregon,97703-2465,-121.3288021,44.0575649,Oregon,97703

In [205]:


#load dataframe into csv
clean_breweries_df.to_csv('breweries.csv', index=False)
#show count by the length of the postal code to see if there are any invalid postal codes
clean_breweries_df['zip_code'].str.len().value_counts()

5    7936
Name: zip_code, dtype: int64

In [206]:
#use dataframe from the csv breveries.csv
input_path = os.path.join("breweries.csv")
csv_breweries_df = pd.read_csv(input_path)

In [ ]:
#postcode = "78745"
#target_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={postcode}&limit=1&type=postcode&format=json&apiKey={geoapify_key}"
#response = requests.get(target_url).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [207]:
#exctract rows with missing longitude and create a new dataframe
missing_long_df = csv_breweries_df[csv_breweries_df['longitude'].isnull()]
missing_long_df.head()

,name,brewery_type,address_1,city,state_province,postal_code,longitude,latitude,state,zip_code
1,(512) Brewing Co,micro,407 Radam Ln Ste F200,Austin,Texas,78745-1197,NaN,NaN,Texas,78745
18,12 Gates Brewing Company,brewpub,80 Earhart Dr Ste 20,Williamsville,New York,14221-7804,NaN,NaN,New York,14221
19,12 West Brewing Company,micro,3000 E Ray Rd Bldg 6,Gilbert,Arizona,85296-7832,NaN,NaN,Arizona,85296
24,12welve Eyes Brewing,micro,141 E 4th St Ste LL2,Saint Paul,Minnesota,55101-1639,NaN,NaN,Minnesota,55101
26,13 Stripes Brewery,brewpub,"250 Mill St, Suite PW3101",Taylors,South Carolina,29687,NaN,NaN,South Carolina,29687

In [202]:

#if longitude and latitude null then use the value from respective zip_code to get the longitude from the api
#store the longitude in the dataframe
for index, row in missing_long_df.iterrows():
                if pd.isnull(row['longitude']) and pd.isnull(row['latitude']):
                        postcode = row['zip_code']
                        target_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={postcode}&limit=1&type=postcode&format=json&apiKey={geoapify_key}"
                        response = requests.get(target_url).json()
                        missing_long_df.loc[index, 'longitude'] = response['results'][0]['lon']
                        missing_long_df.loc[index, 'latitude'] = response['results'][0]['lat']
                        print(f"index: {index}, postcode: {postcode}, longitude: {response['results'][0]['lon']}, latitude: {response['results'][0]['lat']}")
                        
missing_long_df.head()

index: 1, postcode: 78745, longitude: -97.792614846, latitude: 30.208605656
index: 18, postcode: 14221, longitude: -78.729920877, latitude: 42.980952841
index: 19, postcode: 85296, longitude: -111.762518433, latitude: 33.335136701
index: 24, postcode: 55101, longitude: -93.088300242, latitude: 44.955919207
index: 26, postcode: 29687, longitude: -82.327800669, latitude: 34.991467109
index: 28, postcode: 27603, longitude: -78.66089377, latitude: 35.71301003
index: 30, postcode: 56442, longitude: -94.116315338, latitude: 46.677860236
index: 32, postcode: 5478, longitude: -68.67620435, latitude: -31.547226
index: 36, postcode: 21157, longitude: -76.983937143, latitude: 39.558197671
index: 39, postcode: 22553, longitude: -77.60125509, latitude: 38.231176411
index: 49, postcode: 11741, longitude: -73.070358674, latitude: 40.794962148
index: 50, postcode: 5452, longitude: -88.922086084, latitude: 45.542678653
index: 55, postcode: 20109, longitude: -77.506105128, latitude: 38.784153209
index: 62, postcode: 13750, longitude: -74.82975865, latitude: 42.474391832
index: 67, postcode: 41653, longitude: -82.767732377, latitude: 37.665449029
index: 68, postcode: 99021, longitude: -117.369133938, latitude: 47.765802869
index: 71, postcode: 77095, longitude: -95.652018308, latitude: 29.898842698
index: 75, postcode: 19106, longitude: -75.14627831, latitude: 39.950672901
index: 76, postcode: 19014, longitude: -75.563552437, latitude: 39.887258814
index: 86, postcode: 97321, longitude: -123.111273467, latitude: 44.609191436
index: 88, postcode: 20012, longitude: -77.025561983, latitude: 38.970399774
index: 90, postcode: 6475, longitude: -94.5812001, latitude: 38.13241145
index: 91, postcode: 80501, longitude: -105.106413721, latitude: 40.170633272
index: 95, postcode: 80122, longitude: -104.979683709, latitude: 39.584167995
index: 96, postcode: 59634, longitude: -111.969697748, latitude: 46.530167633
index: 101, postcode: 32578, longitude: -86.43102344, latitude: 30.489422954
index: 104, postcode: 19940, longitude: -75.550673024, latitude: 38.476202655
index: 107, postcode: 80021, longitude: -105.086665676, latitude: 39.885154083
index: 109, postcode: 30518, longitude: -84.042062612, latitude: 34.100259626
index: 110, postcode: 59715, longitude: -111.050200127, latitude: 45.685106985
index: 112, postcode: 15136, longitude: -80.079481383, latitude: 40.473635621
index: 115, postcode: 47203, longitude: -85.859714314, latitude: 39.221491124
index: 120, postcode: 77055, longitude: -95.49586778, latitude: 29.795283748
index: 125, postcode: 32607, longitude: -82.407912692, latitude: 29.644031328
index: 131, postcode: 30318, longitude: -84.445715822, latitude: 33.788472774
index: 140, postcode: 55418, longitude: -93.243478973, latitude: 45.020879789
index: 142, postcode: 78641, longitude: -97.893362346, latitude: 30.544304067
index: 144, postcode: 78572, longitude: -98.326435596, latitude: 26.216903062
index: 146, postcode: 22406, longitude: -77.549292213, latitude: 38.392371502
index: 147, postcode: 30097, longitude: -84.157329898, latitude: 34.028487173
index: 149, postcode: 3053, longitude: -83.3978233, latitude: 34.215963789
index: 150, postcode: 54603, longitude: -91.248383303, latitude: 43.846908132
index: 154, postcode: 81631, longitude: -106.827995669, latitude: 39.656721042
index: 156, postcode: 20852, longitude: -77.120222912, latitude: 39.05014409
index: 157, postcode: 8242, longitude: -108.05800663, latitude: 44.49684092
index: 164, postcode: 2052, longitude: -77.047841025, latitude: 38.893634825
index: 165, postcode: 34698, longitude: -82.770051007, latitude: 28.026017129
index: 166, postcode: 59538, longitude: -107.871968567, latitude: 48.355487183
index: 168, postcode: 85323, longitude: -112.321577408, latitude: 33.426515001
index: 169, postcode: 33611, longitude: -82.503229675, latitude: 27.890585682
index: 173, postcode: 12603, longitude: -73.882828376, latitude: 41.679079582
index: 178, postcode: 60081, longitude: -88.217267191, latitude: 42.440759553
index: 180, postcode: 32514, longitude: -87.206440843, latitude: 30.523541086
index: 182, postcode: 14527, longitude: -77.05634915, latitude: 42.654847171
index: 183, postcode: 1027, longitude: -74.010485267, latitude: 40.708094667
index: 189, postcode: 70433, longitude: -90.103775527, latitude: 30.464246476
index: 190, postcode: 15136, longitude: -80.079481383, latitude: 40.473635621
index: 191, postcode: 89104, longitude: -115.124572354, latitude: 36.152481072
index: 194, postcode: 49312, longitude: -85.830222014, latitude: 43.687785329
index: 212, postcode: 20132, longitude: -77.714000834, latitude: 39.151948009
index: 213, postcode: 22405, longitude: -77.433204156, latitude: 38.318948098
index: 214, postcode: 22408, longitude: -77.464656909, latitude: 38.244819678
index: 220, postcode: 40217, longitude: -85.739452677, latitude: 38.217515932
index: 223, postcode: 54868, longitude: -91.72754486, latitude: 45.512118629
index: 225, postcode: 54201, longitude: -87.463142834, latitude: 44.611658567
index: 232, postcode: 40206, longitude: -85.701082293, latitude: 38.257439611
index: 234, postcode: 13655, longitude: -74.658795225, latitude: 44.978597312
index: 239, postcode: 60646, longitude: -87.764710279, latitude: 41.999866774
index: 244, postcode: 37882, longitude: -83.778038213, latitude: 35.689814935
index: 246, postcode: 78582, longitude: -98.770074191, latitude: 26.385887464
index: 247, postcode: 5676, longitude: -96.4080031, latitude: 48.2208655
index: 252, postcode: 87008, longitude: -106.37057375, latitude: 35.121608586
index: 253, postcode: 98292, longitude: -122.325600203, latitude: 48.231850468
index: 256, postcode: 45424, longitude: -84.122408876, latitude: 39.846273834
index: 261, postcode: 23188, longitude: -76.761680768, latitude: 37.317684106
index: 263, postcode: 41001, longitude: -84.394667598, latitude: 38.940416004
index: 265, postcode: 87110, longitude: -106.590515353, latitude: 35.099392778
index: 268, postcode: 15601, longitude: -79.534038105, latitude: 40.298406166
index: 288, postcode: 10009, longitude: -73.980779861, latitude: 40.72586124
index: 291, postcode: 80218, longitude: -104.971877055, latitude: 39.731240864
index: 295, postcode: 60515, longitude: -88.015536014, latitude: 41.809420343
index: 298, postcode: 78666, longitude: -97.952473296, latitude: 29.868931182
index: 299, postcode: 1518, longitude: -72.4221177, latitude: 5.6275774
index: 303, postcode: 6051, longitude: -88.2434892, latitude: 41.7777442
index: 305, postcode: 80221, longitude: -105.019873859, latitude: 39.788257898
index: 311, postcode: 48216, longitude: -83.074393746, latitude: 42.328045413
index: 313, postcode: 98020, longitude: -122.369890525, latitude: 47.803115004
index: 318, postcode: 33328, longitude: -80.277369012, latitude: 26.06696354
index: 328, postcode: 2764, longitude: -59.48100455, latitude: -34.2544036
index: 332, postcode: 32092, longitude: -81.505742105, latitude: 29.96915847
index: 333, postcode: 10913, longitude: -73.960757646, latitude: 41.064088537
index: 335, postcode: 4849, longitude: 13.575597856, latitude: 48.046624098
index: 338, postcode: 75904, longitude: -94.754244721, latitude: 31.337770324
index: 340, postcode: 7848, longitude: -98.530187, latitude: 27.446257
index: 341, postcode: 29072, longitude: -81.253315181, latitude: 33.991346773
index: 348, postcode: 28621, longitude: -80.838301401, latitude: 36.287267925
index: 353, postcode: 30121, longitude: -84.78974395, latitude: 34.210738608
index: 359, postcode: 7114, longitude: -57.7898771, latitude: -36.085358645
index: 362, postcode: 34112, longitude: -81.748436305, latitude: 26.122256932
index: 364, postcode: 21740, longitude: -77.733536694, latitude: 39.63372226
index: 366, postcode: 75686, longitude: -94.970203672, latitude: 32.992289991
index: 368, postcode: 10917, longitude: -74.123809851, latitude: 41.325964511
index: 371, postcode: 19426, longitude: -75.450480416, latitude: 40.176992404
index: 372, postcode: 17325, longitude: -77.218238338, latitude: 39.829491551
index: 375, postcode: 17050, longitude: -77.000214339, latitude: 40.250839863
index: 381, postcode: 78666, longitude: -97.952473296, latitude: 29.868931182
index: 382, postcode: 2540, longitude: -77.947958152, latitude: 39.485485278
index: 384, postcode: 78336, longitude: -97.156848857, latitude: 27.91367968
index: 385, postcode: 55418, longitude: -93.243478973, latitude: 45.020879789
index: 393, postcode: 30354, longitude: -84.393050457, latitude: 33.665921023
index: 394, postcode: 28806, longitude: -82.608628461, latitude: 35.581634989
index: 396, postcode: 1007, longitude: -73.956531911, latitude: 40.773590402
index: 398, postcode: 62234, longitude: -89.987654699, latitude: 38.680167358
index: 399, postcode: 19711, longitude: -75.742365514, latitude: 39.69890302
index: 402, postcode: 85611, longitude: -110.546317007, latitude: 31.615534686
index: 403, postcode: 85233, longitude: -111.812372051, latitude: 33.360091533
index: 404, postcode: 33771, longitude: -82.757249211, latitude: 27.916416159
index: 417, postcode: 8226, longitude: 8.485730104, latitude: 47.748531039
index: 419, postcode: 12866, longitude: -73.768392155, latitude: 43.076557618
index: 427, postcode: 80301, longitude: -105.19820583, latitude: 40.049959087
index: 433, postcode: 20170, longitude: -77.380850487, latitude: 38.982202428
index: 436, postcode: 28031, longitude: -80.88043646, latitude: 35.468551668
index: 438, postcode: 19014, longitude: -75.563552437, latitude: 39.887258814
index: 440, postcode: 77018, longitude: -95.424184626, latitude: 29.825242492
index: 441, postcode: 20910, longitude: -77.030087458, latitude: 38.999837101
index: 442, postcode: 89011, longitude: -114.979937738, latitude: 36.076504249
index: 448, postcode: 6615, longitude: -89.468625, latitude: 40.834986
index: 449, postcode: 32233, longitude: -81.408054662, latitude: 30.337437821
index: 450, postcode: 4609, longitude: -86.1616801, latitude: 40.4911541
index: 453, postcode: 20002, longitude: -76.989463089, latitude: 38.903656992
index: 456, postcode: 80908, longitude: -104.694610356, latitude: 38.959744651
index: 457, postcode: 21701, longitude: -77.376801764, latitude: 39.437743707
index: 458, postcode: 19144, longitude: -75.172051294, latitude: 40.034289496
index: 465, postcode: 46706, longitude: -85.052835351, latitude: 41.327411871
index: 468, postcode: 56073, longitude: -94.465584473, latitude: 44.311735285
index: 472, postcode: 13081, longitude: -76.633591496, latitude: 42.662069655
index: 473, postcode: 12944, longitude: -73.476581329, latitude: 44.49346418
index: 476, postcode: 4103, longitude: -84.608680804, latitude: 38.785322607
index: 483, postcode: 8028, longitude: 32.4445323, latitude: 34.77618325
index: 487, postcode: 20141, longitude: -77.778003303, latitude: 39.134940762
index: 488, postcode: 77304, longitude: -95.500849608, latitude: 30.33241993
index: 489, postcode: 77803, longitude: -96.3741074, latitude: 30.680152507
index: 490, postcode: 21031, longitude: -76.659310827, latitude: 39.485838896
index: 492, postcode: 10018, longitude: -73.990394122, latitude: 40.75412645
index: 493, postcode: 77423, longitude: -95.958800689, latitude: 29.799519856
index: 494, postcode: 98604, longitude: -122.54509131, latitude: 45.782599461
index: 500, postcode: 21401, longitude: -76.518245918, latitude: 38.983826354
index: 501, postcode: 6002, longitude: -88.181575604, latitude: 42.408346994
index: 504, postcode: 77365, longitude: -95.257051556, latitude: 30.105277461
index: 508, postcode: 5161, longitude: 13.06274403, latitude: 47.866319916
index: 510, postcode: 2215, longitude: -77.185075781, latitude: 38.779409921

IndexError: list index out of range